* {
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
    color: #222;
}
#menu ul {
    background-color: black;
    list-style-type: none;
    text-align: center;
    width: 100%;
    overflow: hidden;
    }
#menu li{
    color: white;
    float: left;
    width: 120px;
    height:50px;
    line-height: 50px;
    margin-left: -2px;
    }
#menu ul li a {
    color:white;
    text-decoration: none;
    display: block;
    }
#menu ul li a:hover{
    background-color: green;
    color: white;
    }
.hi{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}
.hi ul {
        float: left;
      }
.hi ul li {
        display: inline;
        color: #121212;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        height:50px;
        line-height: 50px;
      }
      
    .hi ul li:hover:not(.active) {
        background-color: #04AA6D;
      }
.left{
        padding: 0;
        background-color: whitesmoke;
        width: 300px;
        font-size: 17px;
        height: calc(230vh - 300px); 
        overflow-y: auto;
        scrollbar-color: #888 #f0f0f0;
    }
.left::-webkit-scrollbar{
        width: 20px;
    }
    .left::-webkit-scrollbar-track{
        background: #f0f0f0;
    
    }
    .left::-webkit-scrollbar-thumb {
        background-color: #adaaaa; 
        border-radius: 10px; 
    }
    
    .left::-webkit-scrollbar-thumb:hover {
        background-color: #9e9d9d;
    }
    .left li{
        display: block;
        margin-top: auto;
    
    }
    .left li a{
        color: black;
        text-decoration: none;
        display: block;
        margin-left: 35px;
        
    }
    .left li a:hover{
        background-color: rgb(180, 171, 171);
        
    }
.ndung{
    float: center;
    color: black;
    text-align: center;
    margin-top: -1350px;

  
    overflow: auto;
}