body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #957cfa;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header img {
    width: 200px;
    border-radius: 5px 5px 4px 8px;
    margin-top: 10px;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#main {
    color: white;
}
h1, h2 {
    color: #ff4747;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #eee;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: #957cfa;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.menu {
    list-style-type: none;
    text-align: center;
    
}
.menu li{

    display: inline-block;
    width: 120px;
    height: 40px;
    line-height: 40px;
}
.menu li a{
    color: rgb(255, 98, 31);
}
.menu li a:hover {
    background-color: #ff4747;
    color: black;
}
img {
    max-width: 100%;
    height: auto;
}
nav ul {
    display: flex;
    justify-content: space-around;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }
}
body {
    font-size: 16px;
}

@media (max-width: 768px) {
    body {
        font-size: 14px;
    }
}
