body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.grid {
    display: grid;
    /* W(adjusted) = W(individual) - (1rem * 1/2) */
    grid-template-columns: calc(50% - (30px * 1/2)) calc(50% - (30px * 1/2));
    grid-column-gap: 10px;
}
.col {
    font-size: 30px;
    padding: 30px;
    background-color: rgb(252, 240, 252);
    color: #000000;
    border-radius:5% 5% 5% 5%;
}
#button{
    background-color: rgb(78, 78, 248);
    color: white;
    border-radius:50px;
    padding: 15px 32px;
    text-align: center;  text-decoration: none;  display: inline-block;
}
.container {
    box-sizing: border-box;
    background-color: #ffffff;
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px;
    font-weight: 475;
}
.inside {
    display: flex; 
    justify-content: space-between;
    gap: 15px;
    margin-top: 10px;
   
}
.content {
    border-radius:5% 5% 5% 5%;
    background-color: rgb(252, 240, 252);
    color: black;
    width: 60%;
    padding: 10px;
}
.content img {
    width: 100%;
    height: auto;
    border-radius:5% 5% 5% 5%
}





